<!DOCTYPE html>
<html>
<head>
  <title>Firstapp</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>

  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= csrf_meta_tags %>
</head>
<body>

	<%= render "layouts/navbar" %>

	<div class="container">
		
		<div class="row header">
			<div class="col-md-4 col-sm-12">
				<%= image_tag("bike.jpg") %>
			</div>
			<div class="col-md-6 col-sm-12">
				<h1 class="text-center">Welcome to Jersey Shore Bikes</h1>
				<h2 class="text-center">Find the best used bikes on the Shore!</h2>
			</div>
		</div>
	
		<% if notice %>
			<p class="alert notice alert-success" role="alert"><%= notice %></p>
		<% end %>
		<% if alert %>
			<p class="alert alert-danger" role="alert"><%= alert %></p>
		<% end %>

		<%= yield %>

	</div><!-- end container -->

	<br>
	<footer class="footer">
		<div class="container">
			<%= link_to "About Us", static_pages_about_path %>
			<%= link_to "Contact Us", static_pages_contact_path %>  
		</div>
	</footer>
</body>
</html>
